@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
body {
  font-family: 'Raleway', sans-serif; }

.hamburger, div[class="hamburger-menu"] {
  display: none;
  color: black; }

div[class="hamburger-menu"] {
  text-align: right; }
  div[class="hamburger-menu"] a {
    text-decoration: none;
    transition: all 2s linear;
    color: black;
    font-family: 'Lobster', cursive;
    line-height: 1.5em;
    font-size: 1.3em; }

div[class='container'] {
  min-height: 700px;
  width: 80%;
  margin: auto; }
  div[class='container'] nav {
    margin-top: 1%;
    min-height: 20px;
    display: flex;
    flex-direction: row; }
    div[class='container'] nav div[id="logo"] {
      width: 40%; }
      div[class='container'] nav div[id="logo"] img {
        height: 40px; }
    div[class='container'] nav div[id="nav-links"] {
      width: 60%;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      div[class='container'] nav div[id="nav-links"] .link {
        width: 25%;
        padding-top: 10px;
        text-align: center;
        font-family: 'Lobster', cursive;
        font-size: 1.2em; }
        div[class='container'] nav div[id="nav-links"] .link a {
          text-decoration: none;
          color: black; }
        div[class='container'] nav div[id="nav-links"] .link a:hover {
          color: gray; }
    @media screen and (max-width: 670px) {
      div[class='container'] nav .link {
        display: none; }
      div[class='container'] nav .hamburger {
        display: block; } }
  div[class='container'] div[class="presentation"] {
    width: 46%;
    min-height: 300px;
    margin-top: 10%;
    font-family: 'Open Sans Condensed', sans-serif;
    text-justify: inter-word; }
    div[class='container'] div[class="presentation"] .presentation-1 {
      font-size: 3.0em; }
    div[class='container'] div[class="presentation"] .presentation-2 {
      margin-top: 12%;
      font-size: 2.4em; }
    @media screen and (max-width: 670px) {
      div[class='container'] div[class="presentation"] {
        width: 93%;
        margin-top: 40%; }
        div[class='container'] div[class="presentation"] .presentation-1 {
          font-size: 2.4em; }
        div[class='container'] div[class="presentation"] .presentation-2 {
          margin-top: 10%;
          font-size: 1.9em; } }

div[class="work-block"] .sub-link {
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 2.4%;
  margin-bottom: 1%; }
  div[class="work-block"] .sub-link .link {
    padding: 2px 7px; }
    div[class="work-block"] .sub-link .link a {
      text-decoration: none;
      color: black;
      font-weight: 550; }
    div[class="work-block"] .sub-link .link a:hover {
      text-decoration: underline; }
div[class="work-block"] div[id="gallery"] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between; }
  div[class="work-block"] div[id="gallery"] .sample {
    width: 30.3%;
    min-height: 280px;
    padding-top: 2.3%; }
    div[class="work-block"] div[id="gallery"] .sample .sampleImg img {
      width: 100%;
      height: 70%; }

/*# sourceMappingURL=main.css.map */
